@typeparam Titem

@if(MyList is null)
{
    @if(Loading is null)
    {
        <div class="align-items-center">

            <ima src="https://retchhh.files.wordpress.com/2015/03/loading10.gif"></ima>
        </div>
    }
    else
    {
        @Loading
    }
}
else if(MyList.Count == 0)
{
    @if (NoRecords is null)
    {
        <div class="align-items-center">

            <p>No hay registros para mostrar. </p>

        </div>
    }
    else
    {
        @NoRecords
    }

}
else
{
    @Body
}


@code {
    [Parameter]
    public RenderFragment? Loading { get; set; }

    [Parameter]
    public RenderFragment? NoRecords { get; set; }

    [Parameter]
    [EditorRequired]
    public RenderFragment Body { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public List<Titem> MyList { get; set; } = null!;
}
